* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.parent {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.mobile,
.pc {
}
.mobile {
	background-color: red;
}
.pc {
	background-color: green;
}

ul li {
	margin: 3rem 0;
}
ul li:nth-child(odd) {
	background-color: red;
}
@media (min-width: 800px) {
	.parent {
		display: flex;
		width: 100%;
		flex-direction: row;
	}

	.mobile,
	.pc {
		width: 100%;
	}
}
